    // sass/_layout.scss – plik z gridem oraz domyślnymi klasami pomocniczymi dla niego,
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        background-color: #111111;
    }
    
    .main-container {
        width: 85%;
        background-color: black;
        text-align: center;
        margin: 0 auto;
    }
    
    //first-container
    .first-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-basis: 100%;
        background-color: #DBD9d1;
    }
    
    .section-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-basis: 85%;
        margin-top: 5.5%;
        margin-left: 17%;
        background-color: $section-bgc-color;
        .main-content {
            border: 1px solid $font-main-color;
            height: 90vh;
            flex-basis: 95%;
            margin: 1%;
            background-color: $nav-color;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .wrapper {
                border: 1px solid $font-main-color;
                .title {
                    border: $border;
                    height: 5vh;
                    border: 1px solid $font-main-color;
                    h2 {
                        margin: 5px;
                        text-align: left;
                        color: $font-main-color;
                        font-weight: normal;
                        text-transform: uppercase;
                    }
                }
                .content {
                    border: $border;
                    height: 85vh;
                    border: 1px solid $font-main-color;
                }
            }
        }
    }
    
    //sidebar
    .sidebar {
        flex-basis: 15%;
        // border: $border;
        height: 130vh;
        position: fixed;
        width: 15%;
        background-color: $sidebar-color;
        .logo {
            height: 8vh;
            // border: $border;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            p {
                color: $nav-color;
                flex-basis: 80%;
                font-size: 25px;
                font-family: $logo-font;
            }
            i {
                color: $nav-color;
                font-size: 25px;
            }
            i:hover {
                color: $font-main-color;
            }
        }
        .sidebar-menu {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            height: 50vh;
            justify-content: space-around;
            align-items: center;
            border-bottom: 1px $font-main-color solid;
            margin: 0;
            padding: 0;
            .sidebar-menu-item {
                display: block;
                width: 100%;
                // border: $border;
                height: 40px;
                a {
                    display: flex;
                    text-decoration: none;
                    // border: $border;
                    text-align: center;
                    color: $font-main-color;
                    line-height: 40px;
                    // width: 100%;
                    i {
                        flex-basis: 30%;
                        line-height: 45px;
                    }
                }
            }
        }
        .communicator {
            height: 10vh;
            margin-top: 2%;
            p {
                color: $font-main-color;
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 13px;
            }
            .people {
                display: flex;
                margin-top: 10%;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-around;
                .name {
                    flex-basis: 50%;
                    color: $color-status;
                    line-height: 50px;
                }
                .status {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    // border: 1px solid black;
                    background-color: greenyellow;
                }
            }
        }
    }
    
    .sidebar-menu-item:hover {
        background-color: $hover-sidebar-color;
        color: $hover-sidebar-font-color;
        border-left: 5px $btn-main-color solid;
        a:hover {
            color: $hover-sidebar-font-color;
        }
    }
    
    //top-bar
    .top-bar {
        flex-basis: 100%;
        border: 1px solid $font-main-color;
        height: 8vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        position: fixed;
        width: 85%;
        font-size: 20px;
        color: $font-main-color;
        background-color: white;
        .widget-money {
            flex-basis: 18%;
            border-left: 1px solid $font-main-color;
            padding: 0 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            .wallet {
                font-weight: bold;
            }
            .icon-arrow-down-small {
                font-size: 10px;
            }
        }
        .widget-login {
            flex-basis: 15%;
            border-left: 1px solid $font-main-color;
            padding: 0 20px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            .login-icon {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid $font-main-color;
                i {
                    font-size: 15px;
                }
            }
            .login-name {
                font-size: 20px;
                color: $color-status;
            }
        }
        .widget-quit,
        .widget-alert {
            flex-basis: 5%;
            border-left: 1px solid $font-main-color;
            padding: 0 20px;
            i {
                line-height: 65px;
                text-align: center;
            }
        }
    }
    
    @media (min-width: 1024px) and (orientation: landscape) {
        //top-bar
        .top-bar {
            .widget-quit,
            .widget-alert {
                i {
                    line-height: 60px;
                }
            }
        }
    }
    
    @media (max-width: 1024px) {
        //top-bar
        .top-bar {
            flex-basis: 100%;
            height: 7vh;
            .widget-money {
                flex-basis: 33%;
            }
            .widget-login {
                flex-basis: 30%;
            }
            .widget-quit,
            .widget-alert {
                flex-basis: 10%;
                i {
                    line-height: 55px;
                }
            }
        }
        .section-container {
            .main-content {
                .wrapper {
                    .title {
                        h2 {
                            font-size: 16px;
                            line-height: calc(35.4px - 16px);
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 900px) {
        .main-container {
            width: 100%;
        }
        .section-container {
            flex-basis: 85%;
            // margin-top: 7.5%;
            // margin-left: 17%;
            margin: 7.5% auto 0 auto;
            background-color: $section-bgc-color;
            .main-content {
                height: 90vh;
                flex-basis: 95%;
                margin: 1%;
                .wrapper {
                    .title {
                        height: 5vh;
                    }
                }
            }
        }
        .margin {
            margin-top: 55.5%;
        }
        .top-bar {
            width: 100%;
            left: 0;
            bottom: 0;
            height: 6vh;
            .widget-login,
            .widget-money {
                flex-basis: 40%;
            }
        }
        .sidebar {
            // border: $border;
            height: 8vh;
            position: fixed;
            width: 100%;
            .sidebar-menu {
                display: none;
                flex-direction: column;
                list-style-type: none;
                height: 50vh;
                justify-content: space-around;
                align-items: center;
                border-bottom: 1px $font-main-color solid;
                margin: 0;
                padding: 0;
                .sidebar-menu-item {
                    display: block;
                    width: 100%;
                    // border: $border;
                    height: 40px;
                }
            }
            .active {
                display: flex;
                background-color: $sidebar-color;
                flex-direction: column;
                list-style-type: none;
                height: 50vh;
                justify-content: space-around;
                align-items: center;
                border-bottom: 1px $font-main-color solid;
                margin: 0;
                padding: 0;
            }
            .sidebar-menu-item:hover {
                background-color: $hover-sidebar-color;
                color: $hover-sidebar-font-color;
                border-left: 5px $btn-main-color solid;
                a:hover {
                    color: $hover-sidebar-font-color;
                }
            }
            .communicator {
                display: none;
            }
        }
    }
    
    @media (max-width: 768px) {
        .section-container {
            margin: 10.5% auto 0 auto;
        }
    }
    
    @media (max-width: 740px) {
        .section-container {
            margin: 15.5% auto 0 auto;
        }
        .sidebar .active {
            height: 40vh;
        }
        .margin {
            margin-top: 60.5%;
        }
    }
    
    @media (max-width: 375px) {
        .sidebar .active {
            height: 44vh;
        }
        .section-container {
            margin: 30.5% auto 0 auto;
        }
        .top-bar {
            flex-basis: 100%;
            border: 1px solid $font-main-color;
            height: 8vh;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            position: fixed;
            font-size: 16px;
            color: $font-main-color;
            background-color: white;
            .widget-login,
            .widget-money {
                width: 40%;
                padding: 0;
                font-size: 16px;
            }
            .widget-login .login-name {
                font-size: 16px;
            }
            .widget-alert {
                width: 10%;
                padding: 0;
            }
            .widget-quit {
                width: 10%;
                padding: 0;
            }
        }
    }